<!DOCTYPE html> 
<html>
    <head>
        <title>ComoEnCasa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/jquery.mobile/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/main.css" />

    </head>

    <body>
        <div data-role="page">
            <div data-role="header">
                <h1 id="titulo"></h1>
                <a  id="carrito" href="index.html" class="ui-btn-right"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </div>

            <div role="main" class="ui-content">
                <ul id="menus" data-role="listview" data-split-theme="a" data-split-icon="plus" data-count-theme="a" data-inset="true">

                </ul>
            </div>

            <div data-role="popup" id="purchase" data-theme="a" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
                <h3>Indique cuantas viandas quiere.</h3>
                <div data-role="fieldcontain">
                    <label for="cantidad">Cantidad:</label>
                    <input id="cantidad-a-pedir" name="cantidad"  type="number" />
                </div>
                <a href="index.html" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini">Aceptar</a>
                <a href="index.html" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">Cancel</a>
            </div>
            <div data-role="footer">
                <h4>ComoEnCasa</h4>
            </div>
        </div>

        <!-- Templates Js Render -->
        <script id="menuTemplate" type="text/x-jsrender">
            <li>
                    <a href="#">
                        <img src="http://comoencasa.somospnt.com/casas/{{>~root.codigoCasa}}/img/viandas/{{:imagen}}">
                        <h2>{{:nombre}}</h2>
                        <p>{{:descripcion}}</p>
                 <span class="ui-li-count">12</span>
                    </a>
            <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">carrito</a>
            </li>
        </script>

        <!-- Javascript Lib -->
        <script src="js/lib/jquery-2.1.1/jquery-2.1.1.min.js"></script>
        <script src="js/lib/jquery.mobile/jquery.mobile-1.4.5.min.js"></script>
        <script src="js/lib/jsrender/jsrender.js"></script>

        <!-- Javascript del app -->
        <script src="js/app/comoencasa.js"></script>
        <script src="js/app/service/service.js"></script>
        <script src="js/app/service/menu/menu.js"></script>
        <script src="js/app/ui/ui.js"></script>
        <script src="js/app/ui/menus/menus.js"></script>
    </body>
</html>